.container{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
         /* взяли шрифты с google fonts и прописали правило font-family: 'Inter', sans-serif;*/
    font-family: 'Inter', sans-serif;
    max-width: 1170px;
    margin: 0 auto;
    /* это правила для центровочного контейнера */
}

.header-wrapper{
    padding-top: 50px;
    padding-bottom: 25px;
    display: flex; 
    margin: 0 auto;
}
.img{
    border-radius: 90%;
    margin-top: 20%;
}

.header-contacts{
    margin-right: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header_social{
    margin-right: 35px;
    display: flex;
    list-style-type: none;
}


.social_icon_vk, .social_icon_telegram, .social_icon_whatsUp{
    width: 32px;
    height: 23px;  
}
.info-box{
    display: flex; 
    background-color: #F8F8FD;
    border-radius: 12px;
}
.name{
    padding-left: 190px;
}
.info-list > li{
    padding: 8px;
    margin-left: 50px;
    padding-right: 50px;
    list-style-type: none;
    color: #9999A3;
}
.right > li{
   color: black;
}
.exp{  
    color: #bcbcc2;
}
.wrapper{
    padding-left: 245px;
    max-width: 73%;
}
.main-box{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    
}
.pack-date{
    color: gray;
}

.main-cont{
    max-width: 64%;
}

.prof1{
color: white;
background-color: #A9A9FD;
border-radius: 7px;
padding: 3px;

}
.prof2{
color: white;
background-color: #F1A9FD;
border-radius: 7px;
padding: 3px;
}
.skils, .languages, .aboutme{
    margin-bottom: 50px;
}
span{
    padding: 12px;
    border-radius: 12px;
    background-color: #F5F5FA;
}

.razmetka{
    color: #bcbcc2;
    margin-bottom: 30px;
}


